<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.askarstudio.firstshop">
    <uses-permission  android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.MallActivity">
        </activity>
        <activity android:name=".views.MallKActivity">
        </activity>
        <activity android:name=".views.MallSActivity">
        </activity>
        <activity android:name=".views.LoginActivity">
        </activity>
        <activity android:name=".views.RegActivity">
        </activity>
        <activity android:name=".views.WebActivity">
        </activity>
        <activity android:name=".views.DealActivity">
        </activity>
        <activity android:name=".views.BillActivity">
        </activity>
        <activity android:name=".views.BannerActivity">
        </activity>
    </application>

</manifest>